<template>
	<a href="#" class="group relative block overflow-hidden rounded-[15px]">
		<img class="absolute w-full h-full object-cover transition-transform duration-1000 ease-in-out group-hover:scale-[1.1]" :src="article.image" alt="Image">
		<div class="absolute inset-0 bg-gradient-to-t from-[#131210] to-transparent"></div>
		<div class="relative h-full flex flex-col justify-end text-white px-[20px] lg:px-[30px] py-5">
			<h4 v-if="article.featured" class="uppercase font-bold tracking-[2.4px] leading-[19px]">Featured</h4>
			<div class="flex flex-col-reverse lg:flex-row justify-between mt-[14px] lg:mt-[26px] gap-[7px] lg:gap-[30px]">
				<h3 class="text-[20px] lg:text-[24px] leading-[24px] lg:leading-[29px] lg:max-w-[70%]">{{ article.title }}</h3>
				<span class="text-sm lg:text-normal">{{ article.date }}</span>
			</div>
			<div class="flex flex-col lg:flex-row justify-between gap-[30px] mt-[9px]">
				<p class="hidden lg:block">{{ article.description }}</p>
				<div>
					<SecondaryButton text="Read" class="group-hover:bg-white group-hover:text-[#131210] transition duration-300 ease-in-out" />
				</div>
			</div>
		</div>
	</a>
</template>

<script setup>
import SecondaryButton from './SecondaryButton.vue'

const props = defineProps({
	article: {
		type: Object,
		default: null
	}
})
</script>