<template>
	<div class="inline-flex bg-gradient-to-r from-[#BF4DD4] via-[#E40038] to-[#EF6000] rounded-full p-[2px] group">
		<button 
			class="px-8 py-4 font-light leading-[20px] text-white rounded-full bg-[#131210] transition duration-150 ease-in-out whitespace-nowrap hover:bg-gradient-to-r hover:from-[#BF4DD4] hover:via-[#E40038] hover:to-[#EF6000]"
		>
			{{ text }}
		</button>	
	</div>
</template>

<script setup>
const props = defineProps({
	text: String,
})
</script>