<template>
	<h1 class="text-[32px] leading-[39px] text-white font-light mb-[48px] lg:w-1/2">Our blog will keep you up to date with the latest developments </h1>
	<div class="grid lg:grid-cols-2 gap-[48px] mb-[50px] lg:mb-[100px]">
		<template
			v-for="(article, index) in blog"
			:key="index"
		>
			<ArticleCard
				:article="article"
				class="first:row-span-2 h-[202px] lg:h-[355px] lg:first:h-full first:h-[420px]"
			/>
			<div 
				v-if="index == 6"
				class="relative lg:col-span-2 my-[100px]"
			>
				<div class="absolute -inset-x-5 -inset-y-20 bg-gradient-to-r opacity-50 from-[#EF600085]  via-[#E4003885] to-[#BF4DD485] rounded-[1000px] blur-3xl"></div>
				<Newsletter 
					title="Join the top architects & try it out yourself"
					button="Sign up"
					class="relative" 
				/>
			</div>
		</template>
	</div>
	<Divider />
	<div class="grid lg:grid-cols-2 gap-[48px] px-[25px] lg:px-0 py-[50px] lg:py-[100px]">
		<p class="font-thin text-[24px] leading-[29px] text-white">Recieve rare updates about our product</p>
		<div class="w-full">
			<div class="flex flex-col lg:flex-row items-start lg:items-center gap-2.5 lg:gap-2">
				<input 
					type="email" 
					class="bg-transparent py-3 px-[17px] w-full border rounded-full placeholder:text-[#868686] text-white outline-none focus:ring-0"
					placeholder="Name@work-email.com"
				/>
				<BaseButton text="Sign up" />
			</div>
			<div class="hidden lg:flex items-center gap-2.5 ml-5 mt-4">
				<input 
					type="checkbox" 
					name="newsletter" 
					id="newsletter" 
					class="w-[18px] h-[18px] rounded border"
				>
				<label class="text-white" for="newsletter">Accept our <a href="#" class="text-[#d22f3d]">terms and conditions</a></label>
			</div>
		</div>
	</div>
</template>

<script setup>
import ArticleCard from '@/components/ArticleCard.vue'
import Newsletter from '@/components/Newsletter.vue'
import Divider from '@/components/Divider.vue'
import BaseButton from '@/components/BaseButton.vue'
import { blog } from '@/composables/blog.js'
</script>