<template>
	<div class="w-full h-[1px]" :class="`bg-[${background}]`"></div>
</template>

<script setup>
const props = defineProps({
	background: {
		type: String,
		default: '#AEAEAE'
	}
})
</script>