<template>
    <div class="grid lg:grid-cols-2 auto-rows-auto gap-[13px] lg:gap-[48px]">
        <h1 class="text-[32px] leading-[39px] text-white font-light">
            Our blog will keep you up to date with the latest developments
        </h1>
        <div class="lg:place-self-end self-start">
            <BaseButton text="See all" />
        </div>
    </div>
    <div class="grid lg:grid-cols-2 grid-rows-2 gap-[48px] mt-[48px]">
        <ArticleCard
            v-for="article in articles"
            :key="article.id"
            :article="article"
            class="first:row-span-2 h-[202px] lg:h-[332px] first:h-[420px] lg:first:h-full"
        />
    </div>
</template>

<script setup>
import BaseButton from './BaseButton.vue'
import ArticleCard from './ArticleCard.vue'
import { articles } from '../composables/article.js'
</script>