<template>
	<div class="grid lg:grid-cols-2 px-[25px] lg:px-[50px] py-[50px] lg:py-[60px] gap-[30px] lg:gap-0 rounded-[15px] bg-[#131210]">
		<h1 class="text-[20px] lg:text-[32px] leading-[39px] text-white font-light max-w-[80%] lg:max-w-[70%]">{{ title }}</h1>
		<div class="flex flex-col lg:flex-row items-start lg:items-center gap-2.5 lg:gap-2">
			<input 
				type="email" 
				class="bg-transparent py-3 px-[17px] w-full border rounded-full placeholder:text-[#868686] text-white outline-none focus:ring-0"
				placeholder="Name@work-email.com"
			/>
			<BaseButton :text="button" />
		</div>
	</div>
</template>

<script setup>
import BaseButton from '@/components/BaseButton.vue'

const props = defineProps({
	title: String,
	button: String,
})
</script>