<template>
	<button 
		class="px-8 py-2.5 lg:py-4 font-light leading-[20px] text-white border-2 rounded-full transition duration-150 ease-in-out whitespace-nowrap hover:bg-white hover:text-[#131210]"
	>
		{{ text }}
	</button>	
</template>

<script setup>
const props = defineProps({
	text: String,
})
</script>