<script setup>
import Home from './components/Home.vue'
import Blog from './components/Blog.vue'
import BaseButton from './components/BaseButton.vue'
</script>

<template>
    <div class="bg-[#131210] flex-1">
        <div class="max-w-[1190px] px-[25px] mx-auto pb-[100px]">
            <div class="flex items-center gap-8 text-white py-4 mb-[100px]">
                <router-link to="/">Home</router-link>
                <router-link to="/blog">Blog</router-link>
                <router-link to="/single-article">Article</router-link>
            </div>
            <router-view></router-view>
        </div>
    </div>
</template>
